:root {
  --color-brand: #76b900;
  --color-gray-50: #fbfbfb;
  --color-gray-200: #d4d4d4;
  --color-gray-300: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-700: #262626;
  --color-gray-800: #090a0a;
  --color-gray-950: #000000;
  --font-1: Inter, Inter Fallback;
  --font-sans: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --space-1: 4px;
  --space-2: 6px;
  --space-3: 8px;
  --space-4: 12px;
  --space-5: 16px;
  --space-6: 20px;
  --space-7: 24px;
  --space-8: 32px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 9999px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(118, 185, 0, 0.2) 0px 10px 15px -3px, rgba(118, 185, 0, 0.2) 0px 4px 6px -4px;
  --text-h3: 20px;
  --text-a: 18px;
  --text-h3-2: 18px;
  --text-a-2: 16px;
  --text-a-3: 14px;
  --text-span: 12px;
  --ease-default: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-out: linear;
  --duration-fast: 0.15s;
  --duration-default: 600s;
}
